:root {
    --primary-color: #8B1D41; /* Burgundy */
    --light-primary-color: #a25c74; /* light, muted Burgundy */
    --secondary-color: #F5F5F5; /* Cream */
    --accent-color: #C2A061; /* Gold */
    --neutral-dark: #323232; /* Charcoal */
    --neutral-light: #e8e8e8; /* Light Gray */
    --neutral-medium: #D3D3D3; /* Medium Gray */
    --white: white;
    --close: red;
    --open: green;
    --border-radius-r: 15px;
    --dynamic-font-size: 18px;
}

button {
    border: none;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

button:disabled {
    opacity: 0.6; 
    cursor: not-allowed; 
    transform: none;
}

.typeBtn {
    margin-right: 8px;
    border-radius: var(--border-radius-r);
    margin: 4px; 
    background-color: var(--neutral-light);
    color: var(--neutral-dark);
    padding: 25px;
    font-size: 20px;
    font-weight: 550;
    border: 2px solid var(--neutral-dark); 
}

.typeBtnActive { /* for staying in active mode */
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-weight: bold;
}

.menuItemPopUp {
    position: fixed;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: var(--white);
    border: 1px 8px solid black;
    border-radius: var(--border-radius-r);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
    z-index: 1000;
}

.closeBtn {
    scale: 0.9;
    background-color: var(--close);
    color: var(--white);
    float: left;
}

.addToOrderBtn {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

.comboBtn {
    background-color: white;
    color: black;
    border: 1.5px solid grey;
    margin-right: 5px;
}

.comboBtnActive {
    background-color: blue;
    color: white;
    margin-right: 5px;
}

.menuItemsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60vw;
    justify-content: center;
}

.menuItemBtn {
    display: flex;
    flex-direction: column;
    background-color: var( --neutral-light);
    border-radius: var(--border-radius-r);
    border: 2px solid var(--neutral-dark); 
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    font-size: 20px;
}

.menuItemImg {
    margin-right: 8px;
    width: 25vh;
    height: 15vh; 
    border-radius: 15px;
    margin: 4px;
}

.menuItemNameTxt {
    font-weight: bold;
    width: 25vh;
    padding: 7px;
}

.menuItemPriceTxt {
    width: 25vh;
    padding: 7px;
    text-align: center;
}

.basketClearBtn {
    margin-bottom: .8vh;
    background-color: var(--close);
    color: var(--white);
    padding: 0.8vh;
    font-size: inherit;
}

.basketItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: inherit;
}

.basketItemQuantity {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 3px;
}

.basketItemName {
    font-weight: bold;
    font-size: inherit;
}

.basketFooter {
    position: fixed;
    bottom: 10px;
    display: flex;
    gap: 20px;
    font-weight: bold;
    align-items: center;
    font-size: inherit;
}

.basketPlaceOrderBtn {
    color: var(--white);
    background-color: var(--open);
    padding: 0.8vh;
    font-size: inherit;
}

.basket > * {
    font-size: 20px;
}

.navBar {
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 6vh;
}

.navSide {
    position: static; /* Corrected to a valid position value, adjust as needed */
}

.navHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 10px;
}

.reveilleLogo {
    width: 50px;
    height: 45px;
    margin-right: 5px;
}

.navTitle {
    color: #C2A061;
    font-weight: bold;
    font-size: 2rem;
}

.accessibilityBtn {
    position: fixed;
    scale: 1.3;
    border-radius: 50%;
    padding: 10px; 
    border: 2px solid var(--neutral-dark); 
    margin: 20px;
    left: 0;
}

.accessibilityCloseBtn {
    scale: 0.9;
    background-color: var(--close);
    color: white;
    float: left;
}

.accessibilityTitle {
    padding: 10px;
    font-weight: bold;
    font-size: inherit;
}

.accessibilityOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.accessibilityOptionBtn {
    background-color: var(--neutral-medium);
    color: black;
    padding-block: 5px;
    padding-inline: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: inherit;
} 

.accessibilityOptionBtnActive {
    background-color: var(--neutral-dark);
    color: white;
}

.accessibilityContainer {
    position: fixed;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 2000;
    top: 10%;
    font-size: 30px;
}

.bodyPanel {
    display: flex;
    min-width: 100vh;
}

.typeMenu {
    display: flex;
    flex-direction: column;
    width: 15vw;
    margin: 8px;
}

.centerPanel {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    flex-grow: 1;
    flex-direction: column;
    padding: 10px;
    width: auto;
}

.basketPanel {
    margin: 10px;
    width: 25vw;
}

/* GENERIC CSS */
.evenSpacing > * {
    margin: .8vh;
    display: flex;
}

.fullWidthImage {
    width: 100%; 
    height: auto; 
}

.flexBox {
    display: flex;
    justify-content: center;
}

body, button, input, textarea, select, 
.typeBtn, .menuItemBtn, .basket,  
.accessibilityContainer {
    font-size: var(--dynamic-font-size);
}