.manager-view {
    display: flex;
}

.sidebar {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 15vw;
    position: fixed;
}

.sidebar button {
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #ccc;
}

.content {
    margin-left: 15vw;
    width: 85vw;
    padding: 20px;
}
