/**
 * Styles for the navigation bar.
 */
.navBar {
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 6vh;
    justify-content: space-between;
    padding: 0 36px;
    position: relative;
}

/**
 * Styles for the navigation sidebar.
 */
.navSide {
    position: static;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
}

.navSide .left {
    justify-content: start;
}

.navSide.right {
    justify-content: end;
}

/**
 * Styles for the navigation header.
 */
.navHeader {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 10px;
    flex-grow: 1;
    flex-basis: 0;
}

/**
 * Styles for the Reveille logo.
 */
.reveilleLogo {
    width: 50px;
    height: 45px;
    margin-right: 5px;
}

/**
 * Styles for the navigation title.
 */
.navTitle {
    color: #c7b46d;
    font-weight: bold;
    font-size: 2rem;
}

/**
 * Styles for links without underlines.
 */
.linkWithoutUnderline {
    text-decoration: none;
}

/**
 * Styles for the accessibility button.
 */
.accessibilityBtn {
    scale: 1.3;
    border-radius: 50%;
    padding: 11px 13px 9px;
    border: 2px solid var(--white);
    background-color: var(--accessibility-blue);
    transform: scale(1);
}

/**
 * Styles for the accessibility close button.
 */
.accessibilityCloseBtn {
    scale: 0.9;
    background-color: var(--close);
    color: white;
    float: left;
}

/**
 * Styles for the accessibility title.
 */
.accessibilityTitle {
    padding: 10px;
    font-weight: bold;
    font-size: inherit;
}

/**
 * Styles for the accessibility icon.
 */
.accessibilityIcon {
    transform: none;
}

/**
 * Styles for the accessibility options container.
 */
.accessibilityOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

/**
 * Styles for the accessibility option buttons.
 */
.accessibilityOptionBtn {
    background-color: var(--neutral-medium);
    color: black;
    padding-block: 5px;
    padding-inline: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: inherit;
}

/**
 * Styles for the active accessibility option buttons.
 */
.accessibilityOptionBtnActive {
    background-color: var(--neutral-dark);
    color: white;
}

/**
 * Styles for the accessibility container.
 */
.accessibilityContainer {
    position: fixed;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 2000;
    top: 10%;
    font-size: 30px;
}

/**
 * Styles for the close button.
 */
.closeBtn {
    scale: 0.9;
    background-color: var(--close);
    color: var(--white);
    align-self: flex-start;
}
