:root {
    --primary-color: #771636; /* Burgundy */
    --light-primary-color: #ad9aa0; /* light, muted Burgundy */
    --secondary-color: #f5f5f5; /* Cream */
    --accent-color: #b1893f; /* Gold */
    --accent-color2: #b1893f; /* Gold */
    --neutral-dark: #323232; /* Charcoal */
    --neutral-dark2: #000000; /* Charcoal */
    --neutral-light: #ededed; /* Light Gray */
    --neutral-medium: #d3d3d3; /* Medium Gray */
    --white: white;
    --close: red;
    --open: green;
    --accessibility-blue: #2289c1;
    --border-radius-r: 15px;
    --dynamic-font-size: 20px;
    --dynamic-icon-scale: 1.5;
}

/* High Contrast Variables */
:root.high-contrast {
    --primary-color: #000000; /* Bright Blue */
    --light-primary-color: #ffffff; /* Very Light Blue */
    --secondary-color: #000000; /* bark blue */
    --accent-color: #010f23; /* Bright Yellow */
    --accent-color2: #ffffff; /* Bright Yellow */
    --neutral-dark: #010f23; /* Dark Blue/Navy */
    --neutral-dark2: #ffffff; /* Dark Blue/Navy */
    --neutral-light: #ffffff; /* Very Light Gray */
    --neutral-medium: #bebdbd; /* Medium Gray */
    --white: #ffffff; /* Pure White */
    --close: #1d1d1d; /* Bright Red */
    --open: #454545; /* Lime Green */
    --accessibility-blue: #002da9; /* Deep Cerulean */
    --border-radius-r: 15px;
    --dynamic-font-size: 20px;
    --dynamic-icon-scale: 1.5;
}

:root.color-blind {
    --primary-color: #053373; /* Bright Blue */
    --light-primary-color: #90afd2; /* Very Light Blue */
    --secondary-color: #0b1965; /* bark blue */
    --accent-color: #053373; /* Bright Yellow */
    --accent-color2: #f4cf29; /* Bright Yellow */
    --neutral-dark: #002366; /* Dark Blue/Navy */
    --neutral-dark2: #dae6fd; /* Dark Blue/Navy */
    --neutral-light: #e1eaf1; /* Very Light Gray */
    --neutral-medium: #a6a6a6; /* Medium Gray */
    --white: #ffffff; /* Pure White */
    --close: #ff3333; /* Bright Red */
    --open: #ffee00; /* Lime Green */
    --accessibility-blue: #2a52be; /* Deep Cerulean */
    --border-radius-r: 15px;
    --dynamic-font-size: 20px;
    --dynamic-icon-scale: 1.5;
}

/**
 * Styles for the navigation bar.
 */
.navBar {
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 6vh;
    justify-content: space-between;
    padding: 0 36px;
    height: 10vh;
    position: relative;
}

/**
 * Styles for the navigation sidebar.
 */
.navSide {
    position: static;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
}

.navSide .left {
    justify-content: start;
}

.navSide.right {
    justify-content: end;
}

/**
 * Styles for the navigation header.
 */
.navHeader {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 10px;
    flex-grow: 1;
    flex-basis: 0;
}

/**
 * Styles for the Reveille logo.
 */
.reveilleLogo {
    width: 50px;
    height: 45px;
    margin-right: 5px;
}

/**
 * Styles for the navigation title.
 */
.navTitle {
    color: var(--accent-color2);
    font-weight: bold;
    font-size: 2rem;
}

.navTime {
    transform: scale(0.7);
    margin-left: -30px;
}

/**
 * Styles for links without underlines.
 */
.linkWithoutUnderline {
    text-decoration: none;
}

/**
 * Styles for the accessibility button.
 */
.accessibilityBtn {
    scale: 1.2;
    border-radius: 50%;
    padding: 11px 13px 9px;
    border: 2px solid var(--white);
    background-color: var(--accessibility-blue);
    transform: scale(1);
}

/**
 * Styles for the accessibility close button.
 */
.accessibilityCloseBtn {
    scale: 0.9;
    background-color: var(--close);
    color: white;
    float: left;
}

/**
 * Styles for the accessibility title.
 */
.accessibilityTitle {
    padding: 10px;
    font-weight: bold;
    font-size: inherit;
}

/**
 * Styles for the accessibility icon.
 */
.accessibilityIcon {
    transform: none;
}

/**
 * Styles for the accessibility options container.
 */
.accessibilityOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

/**
 * Styles for the accessibility option buttons.
 */
.accessibilityOptionBtn {
    background-color: var(--neutral-medium);
    color: black;
    padding-block: 5px;
    padding-inline: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: inherit;
}

/**
 * Styles for the active accessibility option buttons.
 */
.accessibilityOptionBtnActive {
    background-color: var(--neutral-dark);
    color: white;
}

/**
 * Styles for the accessibility container.
 */
.accessibilityContainer {
    position: fixed;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 2000;
    top: 10%;
    font-size: 30px;
    margin-left: 14vw;
}

/**
 * Styles for the close button.
 */
.closeBtn {
    scale: 0.9;
    background-color: var(--close);
    color: var(--white);
    align-self: flex-start;
}
