/**
 * Represents the main view container.
 * Styles the container to display as a flex column with a minimum height of 100vh.
 */
.view {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/**
 * Represents the container for panels.
 * Styles the container to display as a flex container that grows to fill available space.
 */
.panels {
    display: flex;
    flex-grow: 1;
}

/**
 * Represents the left panel container.
 * Styles the container to display as a flex column with a width of 15vw.
 * Justifies the content with space-between.
 */
.left-panel {
    display: flex;
    flex-direction: column;
    width: 15vw;
    justify-content: space-between;
    /* position: relative;
    overflow: visible; */
}

/* .left-panel button {
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
    margin: 10px;
} */

/**
 * Represents the center panel container.
 * Styles the container to display as a grid with 3 columns and 8 rows.
 * Sets border properties for styling.
 * Adjusts width and overflow properties for responsiveness.
 */
.center-panel {
    flex-direction: column;
    width: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid black;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 65vw;
    overflow: auto;
    grid-auto-flow: row;
}

/**
 * Represents the right panel container.
 * Styles the container with padding, width, and border properties.
 */
.right-panel {
    padding: 10px;
    width: 25vw;
    border-bottom: 2px solid black;
    height: 90vh;
}

/**
 * Represents the menu item component.
 * Styles the menu item with a white background, flex layout, and border.
 * Spans 2 rows in the grid layout.
 */
.menu-item {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    grid-row: span 2;
    border: 1px solid #ddd;
}

/**
 * Styles the images within the menu item.
 * Sets maximum width, height, and object-fit properties.
 */
.menu-item img {
    max-width: 30%;
    height: auto;
    object-fit: contain;
}
