.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    overflow: auto;
    grid-auto-flow: column;
    gap: 32px;
}

.grid-item {
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
}

.grid-item img {
    max-width: 50%;
    height: auto;
    object-fit: contain;
}
